@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  overflow: hidden scroll;
  padding: 0;
  text-align: center;
  background: #ffffff;
  color: #1e1e1e;
}

a {
  text-decoration: none;
  color: #bfbfbf;
  transition: color 0.1s ease-out;
}

a:hover {
  color: #963232;
}

/* Util */

.container {
  margin: auto;
  max-width: 1200px;
  width: 95%;
}

/* Header */

.header {
  background: #1e1e1e;
  color: #ffffff;
  font-size: 2rem;
  padding: 2em 0;
}

/* Blog Post */

.blog-post {
  padding: 2em 0;
  text-align: left;
}

.blog-post-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: normal;
  display: block;
  color: #1e1e1e;
}

.blog-post-date {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.blog-post-content {
  margin-top: 1em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
}
